@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Avenir Next Demi';
    src: url('./assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }